<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Chat App</title>
</head>
<body>
<h2>Peer To Peer Chat program</h2>
<form th:each="user : ${users}" th:action="@{/upgradeUser}" method="post">
    <input type="text" th:value="${user.name}" name="name"/>
    <input type="submit" value="Upgrade"/>
</form>
<ul th:each="message : ${messages}" th:inline="text">
    <li>[[${message.username}]] \n
    [[${message.text}]]</li>
</ul>
</body>
</html>